body {
    background-color: khaki
}

.navigation {
    background-color: lavender;
    border: 2px solid rgb(118, 118, 141);
    padding: auto;
    margin: auto;
    overflow: hidden;
    width: 99.5%;
}

.navigation a {
    float: right;
    color: #e41515;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color: khaki;
    color: lightseagreen;
}

.navigation a:active {
    background-color: white
}

.navigation img {
    padding: auto;
    margin: auto;
}

.item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 20px
}

.item .m1 {
    max-width: 33.333%;
    padding: 0 10px;
    height: 240px;
}

.item .m1 img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(80, 62, 184);
    border-radius: 10px;
    padding: 5px;
}

.item .m1 span {
    color: #e41515;
    font-weight: bolder;
    font-family: serif;
    border: 2px solid rgb(80, 62, 184);
    border-radius: 6px;
    margin: 60px;
    align-self: center;
    margin-top: 20px;
}

.navigation span {
    color: #e41515;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-direction: row;
    float: inline-end;
    margin-right: 80px;
    font-weight: bolder;
}

.heading h1 {
    text-align: center;
    color: rgb(201, 16, 93);
    font-size: 50px;
    background-color: rgb(235, 230, 230);
}

#userData {
    border: 2px solid silver;
    width: 300px;
    height: 250px;
    color: rgb(216, 13, 13);
    font-size: 17px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: silver;
    margin-left: 40%;
}

body {
    background-color: rgb(150, 88, 150);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* what we're adding */
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(235, 230, 230);
    color: rgb(216, 13, 13);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.p1 {
    float: left;
    font-size: 20px;
}

.p2 {
    float: right;
    font-size: 20px;
    text-decoration: none;
}

.p3 {
    font-size: 20px;
    text-decoration: none;
}

.price {
    background-color: rgb(235, 230, 230);
}