<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="admin.css">
    <script src="app.js"></script>
</head>

<body>
    <div class="navigation">
        <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

        <a href="http://127.0.0.1:9000/contact">Contact us</a>
        <a href="http://127.0.0.1:9000/admin">Admin </a>
        <a href="http://127.0.0.1:9000/registration">Registration </a>

        <a href="http://127.0.0.1:9000/">Home </a>
        <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

    </div>
    <div class="admindiv1">
        <h1>First Winner</h1>
        Name:<span id="n1" class="s1">Name of the first user</span><br> phone:
        <span id="n2" class="s1">Number of the second user</span>
    </div>
    <div class="admindiv2">
        <h1>Second Winner</h1>
        Name: <span id="n3" class="s1">Name of the second user</span><br> Phone: <span id="n4" class="s1">Number of the second user</span>
    </div>
    <button id="btn" onclick="check()">Lucky Draw</button>

</body>

</html>