<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>

    <link rel="stylesheet" href="style2.css">
    <link rel="icon" href="/images/smartphone.png" type="image/icon type">
    <script src="app.js"></script>

    <body>
        <div class="navigation">
            <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

            <a href="http://127.0.0.1:9000/contact">Contact us</a>
            <a href="http://127.0.0.1:9000/">Home </a>
            <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

        </div><br>
        <h2>Kindly enter your details with subject.. </h2>
        <div class="container">
            <form onsubmit="return validate()" action="/contactMe" method="POST">

                <label for="fname">Name:</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>


                <label for="country">Country:</label>
                <select id="country" name="country">
                    <option value="ind">India</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="australia">Germany</option>
            <option value="canada">France</option>
            <option value="usa">Uk</option>
          </select><br>

                <label for="subject">Subject</label>
                <textarea id="subject1" name="subject" placeholder="Write something.." style="height:100px"></textarea><br>

                <input type="submit" value="Submit">

            </form>
        </div>
        <footer>
            <p class="p1"> Sunil Kushawaha </p>
            <p class="p2"><b>gmail:</b> sunilkushawaha2014@gmail.com</p>
            <p class="p3">Phone Number:8217219109</p>
        </footer>

        <script>
            //Validating the user name and phone number
            function validate() {

                var name, subject;
                name = document.getElementById('fname').value;
                subject = document.getElementById('subject1').value

                //validating the name of the user
                var check1;
                check1 = checkName(name);
                if (check1) {
                    alert('Invalid name. Please Enter Your Name.');

                    document.getElementById('fname').value = "";
                    document.getElementById('fname').focus();
                    return false;
                }
                //validating the textarea 
                var check2 = checkPhoneNum(subject);
                if (check2) {
                    alert('Subject field can not be blank Kindly fill the information');

                    document.getElementById('subject').value = "";
                    document.getElementById('subject').focus();
                    return false;
                }



                //name validation
                function checkName(name) {
                    var check = /([A-Z][a-z]{10,} )([A-Z][a-z]{10,} )?([A-Z][a-z]{10,})/gi;
                    if (check.test(name) || name === "") {
                        return true;
                    }
                }


                function checkPhoneNum(subject) {
                    if (subject.value === null) {
                        return true;
                    }
                }

            }
        </script>

    </body>

</html>