<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration status</title>
    <link rel="stylesheet" href="registration.css">
</head>

<body>
    <div class="navigation">
        <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

        <a href="http://127.0.0.1:9000/contact">Contact us</a>

        <a href="http://127.0.0.1:9000/registration">Registration </a>

        <a href="http://127.0.0.1:9000/">Home </a>
        <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

    </div>

    <div id="userData">
        <h3>We got your details </h3>
        <h4>We will get back to you very soon !!!</h4>
    </div>
    <footer>
        <p class="p1"> Sunil Kushawaha </p>
        <p class="p2"><b>gmail:</b> sunilkushawaha2014@gmail.com</p>
        <p class="p3">Phone Number:8217219109</p>
    </footer>
</body>

</html>