<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>

    <link rel="stylesheet" href="style2.css">
    <link rel="icon" href="/images/smartphone.png" type="image/icon type">
    <script src="app.js"></script>

    <body>
        <div class="navigation">
            <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

            <a href="http://127.0.0.1:9000/contact">Contact us</a>
            <a href="http://127.0.0.1:9000/">Home </a>
            <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

        </div><br>
        <h2>Kindly enter your details with subject.. </h2>
        <div class="container">
            <form action="/contactMe" method="POST">

                <label for="fname">Name:</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>


                <label for="country">Country:</label>
                <select id="country" name="country">
                    <option value="ind">India</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="australia">Germany</option>
            <option value="canada">France</option>
            <option value="usa">Uk</option>
          </select><br>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea><br>

                <input type="submit" value="Submit">

            </form>
        </div>
        <footer>
            <p class="p1"> Sunil Kushawaha </p>
            <p class="p2"><b>gmail:</b> sunilkushawaha2014@gmail.com</p>
            <p class="p3">Phone Number:8217219109</p>
        </footer>

    </body>

</html>