<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Phone Company </title>
    <link rel="icon" href="/images/smartphone.png" type="image/icon type">
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div class="navigation">
        <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

        <a href="http://127.0.0.1:9000/contact">Contact us</a>
        <a href="http://127.0.0.1:9000/adminLogin">AdminLogin </a>
        <a href="http://127.0.0.1:9000/registration">Registration </a>

        <a href="http://127.0.0.1:9000/">Home </a>
        <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

    </div>
    <div class="heading">
        <h1>Our Products</h1>
    </div>

    <div class="item">
        <div class="m1">
            <img src="/images/imag11.jfif" alt="logo"><br>
            <span class="price">Price=23000</span>
        </div>
        <div class="m1">
            <img src="/images/imag3.jfif" alt="logo"><br>
            <span class="price">Price=20000</span>
        </div>
        <div class="m1">
            <img src="/images/imag4.jfif" alt="logo"><br>
            <span class="price">Price=19000</span>
        </div><br>
        <div class="m1">
            <img src="/images/imag13.jfif" alt="logo"><br>
            <span class="price">Price=30000</span>
        </div>
        <div class="m1">
            <img src="/images/imag6.jfif" alt="logo"><br>
            <span class="price">Price=18000</span>
        </div>
        <div class="m1">
            <img src="/images/imag8.jfif" alt="logo"><br>
            <span class="price">Price=15000</span>
        </div>
        <div class="m1">
            <img src="/images/imag9.jfif" alt="logo"><br>
            <span class="price">Price=10000</span>
        </div>
        <div class="m1">
            <img src="/images/imag12.jfif" alt="logo"><br>
            <span class="price">Price=25000</span>

        </div>
        <div class="m1">
            <img src="/images/imag14jfif.jfif" alt="logo"><br>
            <span class="price">Price=35000</span>

        </div>
        <div class="m1">
            <img src="/images/imag15.jfif" alt="logo"><br>
            <span class="price">Price=30000</span>

        </div>
    </div>

    <footer>
        <p class="p1"> Sunil Kushawaha </p>
        <p class="p2"><b>gmail:</b> sunilkushawaha2014@gmail.com</p>
        <p class="p3">Phone Number:8217219109</p>

    </footer>


</body>

</html>