<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="registration.css">

</head>

<body>
    <div class="navigation">
        <img src="./images/log2.PNG" alt="logo" width="80px" height="55px">

        <a href="http://127.0.0.1:9000/contact">Contact us</a>

        <a href="http://127.0.0.1:9000/registration">Registration </a>

        <a href="http://127.0.0.1:9000/">Home </a>
        <a href="http://127.0.0.1:9000/"><span>Awesome Mobile company</span></a>

    </div>
    <h1>Enter the details</h1>
    <div id="userData">
        <form onsubmit=" return validate()" method="POST" action="/store">
            <label for="name">Name:</label>
            <input type="text" name="name1" id="name" placeholder="Username"><br><br>
            <label for="phone">Phone:</label>
            <input type="tel" name="phone1" id="phone" placeholder="10 digit phone number"><br><br>
            <label for="City">City:</label>
            <select name="city" id="city">
               <option value="varansi">varansi</option>
               <option value="Banglore">Banglore</option>
               <option value="Chennai">Chennai</option>
               <option value="Pune">Pune</option>
               <option value="Mumbai">Mumbai</option>
               <option value="Kolkata">Kolkata</option>
               <option value="Delhi">Delhi</option>
               <option value="Indore">Indore</option>
               <option value="Patna">Patna</option>
               <option value="Jaipur">Jaipur</option>
           </select><br>
            <input type="submit" value="submit">
        </form>
    </div>

    <footer>
        <p class="p1">Author: Sunil Kushawaha </p>
        <p class="p2"><b>gmail:</b> sunilkushawaha2014@gmail.com</p>
        <p class="p3">Phone Number:8217219109</p>
    </footer>



    <script>
        //Validating the user name and phone number
        function validate() {

            var name, phone;
            name = document.getElementById('name').value;
            mobile = document.getElementById('phone').value;

            //validating the name of the user
            var check1;
            check1 = checkName(name);
            if (check1) {
                alert('Invalid first name. Please Enter Your First Name.');

                document.getElementById('name').value = "";
                document.getElementById('name').focus();
                return false;
            }
            //validating the phone number of the user
            var check2 = checkPhoneNum(mobile);
            if (check2) {
                alert('Invalid mobile number. Please enter 10 digit phone number.');

                document.getElementById('phone').value = "";
                document.getElementById('phone').focus();
                return false;
            }



            //name validation
            function checkName(name) {
                var check = /([A-Z][a-z]{10,} )([A-Z][a-z]{10,} )?([A-Z][a-z]{10,})/gi;
                if (check.test(name) || name === "") {
                    return true;
                }
            }


            function checkPhoneNum(mobNum) {
                var check = /\D/gi; //\D - checks for any non digit char
                if (check.test(mobNum) || mobNum.length !== 10) {
                    return true;
                }
            }

        }
    </script>

</body>

</html>