body {
    background-color: rgb(150, 88, 150);
}

.admindiv1 {
    width: 220px;
    height: 170px;
    border: 2px solid powderblue;
    border-radius: 20px;
    background-color: powderblue;
    text-align: center;
    margin-top: 10%;
}

.admindiv2 {
    width: 220px;
    height: 170px;
    border: 2px solid powderblue;
    background-color: powderblue;
    float: right;
    border-radius: 20px;
    text-align: center;
}

h1 {
    background-color: powderblue;
    color: rgb(192, 35, 17);
    width: 100%;
}

.s1 {
    color: rgb(192, 35, 17);
    font-size: 20px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 40%;
}

.navigation {
    background-color: lavender;
    border: 2px solid rgb(118, 118, 141);
    padding: auto;
    margin: auto;
    overflow: hidden;
    width: 99.5%;
}

.navigation a {
    float: right;
    color: #e41515;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color: khaki;
    color: lightseagreen;
}

.navigation a:active {
    background-color: white
}

.navigation span {
    color: #e41515;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-direction: row;
    float: inline-end;
    margin-right: 80px;
    font-weight: bolder;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}