.navigation {
    background: rgba(0, 0, 0, 0.1);
    /* border: 2px solid rgb(118, 118, 141); */
    padding: auto;
    margin: auto;
    overflow: hidden;
    width: 99.5%;
    font-family: 'Brush Script MT', cursive;
}

.navigation a {
    float: right;
    color: #e41515;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}

.navigation a:hover {
    background-color: khaki;
    color: lightseagreen;
}

.navigation a:active {
    background-color: white
}

.navigation img {
    padding: auto;
    margin: auto;
}

.item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    padding: 20px
}

.item .m1 {
    max-width: 33.333%;
    padding: 0 10px;
    height: 240px;
    background: transparent;
}

.item .m1 img {
    width: 200px;
    height: 200px;
    /* border: 2px solid rgb(80, 62, 184); */
    border-radius: 10px;
    padding: 5px;
}

.item .m1 span {
    color: #e41515;
    font-weight: bolder;
    font-family: serif;
    /* border: 2px solid rgb(80, 62, 184); */
    border-radius: 6px;
    margin: 60px;
    align-self: center;
    margin-top: 20px;
}

.navigation span {
    color: #e41515;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-direction: row;
    float: inline-end;
    margin-right: 80px;
    font-weight: bolder;
    font-family: 'Brush Script MT', cursive;
}

.heading h1 {
    text-align: center;
    color: #e41515;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Brush Script MT', cursive;
}

#userData {
    border: 2px solid silver;
    width: 300px;
    height: 250px;
    color: rgb(216, 13, 13);
    font-size: 17px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    margin-left: 40%;
    font-family: 'Brush Script MT', cursive;
}

body {
    /* background-color: rgb(150, 88, 150); */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* what we're adding */
    display: flex;
    flex-direction: column;
    background-image: url('/images/back2.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer {
    text-align: center;
    padding: 3px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(216, 13, 13);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-family: 'Brush Script MT', cursive;
}

.p1 {
    float: left;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
}

.p2 {
    float: right;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
}

.p3 {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
}

.price {
    background-color: rgb(235, 230, 230);
    font-family: 'Brush Script MT', cursive;
}